<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
<!--  All snippets are MIT license http://bootdey.com/license -->
<title>Lista Pedidos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{usuarios.css}" rel="stylesheet">
<style type="text/css">
body {
	background: #f3f3f3;
	margin-top: 20px;
	color: #616f80;
}

.card {
	border: none;
	margin-bottom: 24px;
	-webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
	box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
}

.avatar-xs {
	height: 2.3rem;
	width: 2.3rem;
}
</style>
</head>
<body>
	<div th:insert="@{header.html}"></div>
	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		rel="stylesheet">

	<div class="container">
	

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive project-list">
							<table class="table project-table table-centered table-nowrap">
								<thead>
									<tr>
										<th scope="col">Numero Fact</th>
										<th scope="col">Estado</th>
										<th scope="col">Total</th>
										<th scope="col">Detalles Pedido</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="pedido: ${listaPedidos}">
										<th th:text="${pedido.numFactura}"></th>
										<th th:text="${pedido.estado}"></th>
										<td th:text="${pedido.total}"></td>
										<td><a
											th:href="@{/tienda/pedidos/verdetallepedidosclientes/}+${pedido.id}">
												Ver detalles del pedido</a></td>

										<td>
											<div class="action">
												<!-- -->
												<div th:if="${pedido.estado == 'pendiente'} " >
													<a 
														th:href="@{/tienda/pedidos/cancelar/pedidos/}+${pedido.id}"
														class="text-danger" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="delete">
														<i class="fa fa-remove h5 m-0"></i>
													</a>
												</div>
												<div th:unless="${pedido.estado != 'cancelado'} " >
													<a 
														th:href="@{/tienda/pedidos/cancelar/pedidos/}+${pedido.id}"
														class="text-danger" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="delete">
														<i class="fa fa-remove h5 m-0"></i>
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- end project-list -->

	
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>


</body>
</html>