<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
<!--  All snippets are MIT license http://bootdey.com/license -->
<title>Editar Producto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">


</head>
<body>
	<form class="form-horizontal" method="get"
		th:action="@{/tienda/productos/edit/productos/submit}"
		th:object="${producto}">
		<fieldset>
			<!-- Text input-->

			<input id="id" name="id" type="hidden" placeholder=""
				class="form-control input-md" required="" th:field="*{id}">

				<label class="col-md-4 control-label" for="idrol">Id Categoria</label>
				<div class="col-md-4">
					<div class="form-group">

						<input id="categorias" name="categorias" type="text"
							placeholder="Introduce la categoria" class="form-control input-md"
							required="" th:field="*{categorias}">
					</div>
				</div>	
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="nombre">Nombre Producto</label>
				<div class="col-md-4">
					<input id="nombre" name="nombre" type="text"
						placeholder="Introduce el nombre del producto"
						class="form-control input-md" required="" th:field="*{nombre}">
				</div>
			</div>

			<!-- Password input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="descripcion">Descripcion</label>
				<div class="col-md-4">
					<input id="descripcion" name="descripcion" type="text"
						placeholder="Introduce la descripcion del producto"
						class="form-control input-md" th:field="*{descripcion}">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="precio">Precio</label>
				<div class="col-md-4">
					<input id="precio" name="precio" type="text"
						placeholder="Introduce un precio"
						class="form-control input-md" required="" th:field="*{precio}">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="stock">Stock</label>
				<div class="col-md-4">
					<input id="stock" name="stock" type="text"
						placeholder="Introduce un stock del producto"
						class="form-control input-md" th:field="*{stock}" required="">

				</div>
			</div>

		
			<div class="form-group">
				<label class="col-md-4 control-label" for="fecha_baja">Fecha Baja
					</label>
				<div class="col-md-4">
					<input id="fecha_baja" name="fecha_baja" type="text"
						placeholder="Introduce la fecha de baja"
						class="form-control input-md" th:field="*{fecha_baja}">

				</div>
			</div>
			 

			<div class="form-group">
				<label class="col-md-4 control-label" for="impuesto">Impuesto</label>
				<div class="col-md-4">
					<input id="impuesto" name="impuesto" type="text"
						placeholder="Introduce el impuesto"
						class="form-control input-md" th:field="*{impuesto}" required="">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="imagen">Ruta Imagen</label>
				<div class="col-md-4">
					<input id="direccion" name="direccion" type="text"
						placeholder="Introduce la url de la imagen"
						class="form-control input-md" th:field="*{imagen}">

				</div>
			</div>


		</fieldset>

		<input class="w-25 btn btn-lg btn-primary" type="submit"
			value="Entrar"/>
	</form>
</body>
</html>